@font-face {
    src: url(fonts/moolbor.ttf);
    font-family: MoolBoran;
}

@font-face {
	src: url(fonts/Roboto-Regular.ttf);
	font-family: Roboto;
}

html,body {
	font-family: 'MoolBoran';
	padding: 0;
	margin: 0;
	background-color: #262132;
}

/* tamanho de fonte padrão modificável pela acessibilidade */
#conteudo {
	font-size: 30px;
}

section {
	text-align: center;
}

/* menu fixo */
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #231b30;
	height: 120px;
	z-index: +3;
}

.logo {
	position: relative;
	float: left;
	padding: 20px 15px 0 35px;
}

.lista {
	position: relative;
	float: left;
	padding-left: 15%;
	padding-right: 10%;
}

ul{
	display: flex;
	flex-wrap: wrap;
	background: #231b30;
	font-size: 40px;
}

ul li{
	list-style: none;
}

ul li a{
	text-decoration: none;
	padding: 10px 20px 0 20px;
	color: #c9d6f9;
	display: block;
}

.acessibilidade {
	position: relative;
	float: right;
	padding-top: 50px;
	padding-right: 30px;
	font-size: 40px;
}

.acessibilidade a {
	text-decoration: none;
	padding-right: 10px;
	color: #c9d6f9;
}

a:hover {
	color: #da4c5a;
}

/* Corpo */
h1 {
	position: relative;
	color: #da4c5a;
	padding-top: 120px;
}

/* Imagem de fundo */
.background{
	position: absolute;
	margin: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

form{
	position: relative;
	margin-top: -20px;
	padding: 0 30% 0 30%;
}

.textForm{
	color: #c9d6f9;
	font-family: 'Roboto';
	font-size: 20px;
}

input, textarea{
	border: none;
	width: 90%;
	padding: 8px 10px 8px 14px;
}

/* Definindo tamanho do espaço para mensagem e limitando o seu movimento */
.mensagem{
	height: 60px;
	min-height: 40px;
	max-height: 80px;
	resize: vertical;
}

/* Style do botão enviar */
.enviar{
	background-color: #4b4ead;
	width: 20%;
	min-width: 20%;
	border-radius: 20px;
	border: none;
	padding: 8px;
	font-family: 'Roboto';
	font-size: 20px;
	color:  #c9d6f9;
	cursor: pointer;
}

.enviar:hover{
	color: #da4c5a;
}